.page {
    width: 1200px;
    margin: 10% auto;
    background-color: bisque;
}

.logo {
    padding-left: 35%;
}

.search {
    width: 1200px;
    height: 100px;
    padding-top: 20px;
    background-color: rgb(211, 210, 210);
    text-align: center;
}

#box {
    width: 370px;
    float: left;
    background-color: aqua;
    border: 5px black;
    padding: 5px;
    margin-left: 5px;
}