.page {
    width: 1200px;
    margin: 10% auto;
}

.logo {
    padding-left: 35%;
}

.search {
    width: 1212px;
    height: 120px;
    padding-top: 10px;
    background-color: rgb(243, 234, 234);
    text-align: center;
}

.links {
    width: 1240px;
    background-color: black;
}

.box {
    width: 392px;
    height: 80px;
    float: left;
    background-color: aqua;
    padding: 5px;
    margin-left: 2px;
    text-align: center;
}

.box li {
    list-style: none;
}